* {box-sizing: border-box}

body {
 background-image: url("/Useascrs/antongerasimov/Documents/EPAM/jc3/test-web/assets/img/header-bg.jpg");
 background-color: whitesmoke;
}

.container {
  padding: 16px;
}



<style>



.form-row > button {
  background: gray;
  color: white;
  border: 0;
}

.button-row{
  list-style: none;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.register_button{
  background-color: purple;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: thin;
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}


a {
  color: dodgerblue;
}





input{
  width: 40%;
  padding: 15px;
  margin: 5px 10px 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  /*background: blueviolet;*/
  border: thin;
  border-radius: 10px;
  outline-style: solid;
  outline-color: purple;
  outline-width: thin;
}

.b{

}

input[type=date], input[type=password] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  /*background: blueviolet;*/
  border: thin;
  border-radius: 10px;
  outline-style: solid;
  outline-color: purple;
  outline-width: thin;
}

input[type=text], input[type=password] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  /*background: blueviolet;*/
  border: thin;
  border-radius: 10px;
  outline-style: solid;
  outline-color: purple;
  outline-width: thin;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.dark-mode {
  background-color: black;
  color: white;
}

label {
  display: block;
  padding-left: 420px;
  /* position is not required */
}




</style>